<%- include('./partials/links') %>
<body>

    <%- include('./partials/header') %>

    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">

        <% if (locals.errors){ %> 
            <h4 class="error"><%= errors.message %> </h4>
        <% } %> 
        
        <form action="/products/add/store" method="POST" enctype="multipart/form-data"> 
            <div class="form-fields">
                <input type="text" name="nombre" value="" placeholder="Nombre del producto *">
                <div>
                    <input type="text" disabled placeholder="Imagen del Producto *" >
                    <input type="file" name="img-producto" value=""> 
                 </div>
                <input type="text" name="marca" value="" placeholder="Marca *"> 
                <input type="number" name="anio" value="" placeholder="Año">
                <input type="number" name="ml" value="" placeholder="Mililitros *">
                <input type="text" name="descripcion" value="" placeholder="Descripción">

            </div>

            <button type="submit" class="form-button">
                Enviar
            </button>
            
        </form> 
    </section>
    <%- include('./partials/footer') %>
</body>
</html>