<%- include('./partials/links') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
    <!-- Header -->
	
	<!-- product detail -->
	<% if(resultado.id = null){ %> 
		<p>No pudimos encontrar el producto que buscás.</p>
	<% } else { %>
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="product-detail-title"><%= resultado.nombre%></h2>
				<a href="/users/myprofile/1"><h3 class="product-detail-description">Nombre del usuario</h3></a> <!-- automatizar -->
				<% if (locals.nombre){ %> 
					<div class="icono">
						<a href="/products/edit"><i class="fas fa-edit fa-2x"></i></a>
						<a href="/products/add"><i class="fas fa-plus fa-2x"></i></a>
					</div>
				<% } %> 
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%=resultado.imagen%>" alt="<%=resultado.nombre%>" class="product-detail-img">
						<p class="product-detail-description">
							<%=resultado.descripcion %></p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% for(let i=0; i<comentarios.length; i++) { %>
								<article>
									<a href="/users/myprofile/<%=comentarios[i].id%>"><img src= <%= comentarios[i].imagen %> alt="Foto de Perfil"> </a>
									<div class="data">
										<p class="user">
										<strong> <a href="/users/myprofile/<%=comentarios[i].id%> "><%=comentarios[i].nombreUsuario %> </a> </strong>
										<%=comentarios[i].comentario %></p>
									</div>
								</article>
							<% } %>

						</section>
						<form class="form" action="/products/id/<%=resultado.id%>/comment" method="POST">
							<input class="form-input" type="text" name="descripcion" value="" placeholder="Escribí tu comentario...">
							<button type="submit" class="buy-now-button">
								COMENTAR
							</button>
						</form>
		
						<hr>

						<form action="/products/destroy/<%= resultado.id %> " method="POST">
							<button class='botondelete' type="submit">Borrar producto</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	<% } %>  
	<!-- /product detail -->

	<!-- footer -->
	<%-include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>

