<%- include('./partials/links') %>
<body>

    <%- include('./partials/header') %>

    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">
        
         <form action="/products/edit" method="POST" enctype="multipart/form-data"> 
            <div class="form-fields">
                <input type="text" name="nombre" value="" placeholder="<%=resultado.nombre %>">
                <input type="file" name="imagen" value="" placeholder="Imagen"> 
                <!-- <input type="date" name="fechaPublicacion" value="" placeholder="Fecha de Publicación"> -->
                <input type="text" name="marca" value="<%=resultado.marca %>" placeholder="Marca">
                <input type="number" name="anio" value="<%=resultado.anio %>" placeholder="Año">
                <input type="number" name="ml" value="<%=resultado.ml %>" placeholder="Mililitros">
                <input type="text" name="descripcion" value="<%=resultado.descripcion %>" placeholder="Descripción">

            </div>

            <button type="submit" class="form-button">
                Actualizar Datos
            </button>
            
        </form> 
    </section>
    <%- include('./partials/footer') %>
</body>
</html>