<%- include('./partials/links') %>
<body>

    <%- include('./partials/header') %>

    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">
        
         <form action="/products/edit/editProduct" method="POST" enctype="multipart/form-data"> 
            <div class="form-fields">
                <input type="hidden"  name="id" value="<%=resultado.id %>">
                <input type="text" name="nombre" value="<%=resultado.nombre %>" placeholder="Nombre">
                <input type="file" name="img-producto" value="" placeholder="Imagen"> 
                <input type="text" name="marca" value="<%=resultado.marca %>" placeholder="Marca">
                <input type="number" name="anio" value="<%=resultado.anio %>" placeholder="Año">
                <input type="number" name="ml" value="<%=resultado.ml %>" placeholder="Mililitros">
                <input type="text" name="descripcion" value="<%=resultado.descripcion %>" placeholder="Descripción">

            </div>

            <button type="submit" class="form-button">
                Actualizar Datos
            </button>
            
        </form> 
    </section>
    <%- include('./partials/footer') %>
</body>
</html>