<%- include('./partials/links') %>
<body>
    <%- include('./partials/headerLogueado') %>

    <!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<h1><%= title %></h1>
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="" alt="Foto usuario">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<%= resultado.nombre %>
						<a href="/users/editprofile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>4 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Mis productos -->
	
    
    <%- include('./partials/footer') %>
    
</body>
</html>