<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="profile-title">
			<h1><%= title %></h1>
			<h2>Editar perfil</h2>
			<a href="/users/editprofile"><i class="fas fa-user-edit"></i></a>
		</div>
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= <%=resultado.imagen %> alt="Foto de " <%=resultado.nombre %>>
				<%= console.log(resultado.imagen) %>
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<%= resultado.nombre %>
						<%= resultado.apellido %>
					</h1>
				</div>
				<div>
					<ul class="info-usuario">
						<li>4 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
				<% if (locals.name== resultado.nombre && locals.apellido==resultado.apellido){ %> 
					<div>
						<form action="/users/destroy/<%= resultado.id %> " method="POST">
							<button class= 'btn' type="submit">BORRAR USUARIO</button>
						</form>
					</div>
					
				<% } else { %> 
					<div>
						<form action="" method="POST">
							<button class= 'btn' type="submit">SEGUIR</button>
						</form>
					</div>
				<% } %> 
				
			</div>
		</div>
	</section>
	
	<!-- Mis productos -->
	
    
    <%- include('./partials/footer') %>
    
</body>
</html>