<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="page">
			<p>
				<%= resultado.nombre %>
				<%= resultado.apellido %>
				<% if (locals.user.id == resultado.id){ %>
					<a href="/users/editprofile/<%= resultado.id %> "
					><i class="fas fa-cog 5x"></i>
				</a>
				<% } %>
			</p>
		</div>
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img class="imagen-perfil" src= "/images/perfiles/<%=resultado.imagen %>" alt="Foto de <%=resultado.nombre%> <%=resultado.apellido%>">
			</div>
			<div class="data-container col-6">
				<div>
					<ul class="info-usuario">
						<li> <%=resultado.producto.length %> productos</li>
						<li> <%= resultado.comentario.length %> comentarios</li>
					</ul>
				</div>
				<% if (locals.user.email== resultado.email){ %> 
					<div>
						<form action="/users/destroy/<%= resultado.id %> " method="POST">
							<button class= 'btn' type="submit">BORRAR USUARIO</button>
						</form>
					</div>
					
				<% }  %> 
				
			</div>
		</div>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="form-title">PRODUCTOS</h2>
				</div>
				<% for(let i=0; i<resultado.producto.length; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="slider-box product-box">
								<a href="/products/id/<%=resultado.producto[i].id%>">
									<figure class="product-box_image">
										<img src="/images/products/<%= resultado.producto[i].imagen %> " alt="<%= resultado.producto[i].nombre%>">
									</figure>
									<article class="product-box_data">
										<h2><%=resultado.producto[i].nombre%></h2>
										<h3><%= resultado.nombre %> <%= resultado.apellido %></h3> 
										<p>Comentarios: <%= resultado.comentarios %></p>
									</article>
								</a>
							</section>
						</div>
				<% } %>
			</div>
		</div>
	</section>

	
	<!-- Mis productos -->
	
    
    <%- include('./partials/footer') %>
    
</body>
</html>