<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <% for(let i=0; i<resultado.producto.length; i++){ %>
        <div class="col-12 col-sm-6 col-lg-3">
              <section class="slider-box">
                <a href="/products/id/<%=resultado.producto[i].id%>">
                  <figure class="product-box_image">
                    <img src="<%= resultado.producto[i].imagen %> " alt="<%= resultado.producto[i].nombre%>">
                  </figure>
                  <article class="product-box_data">
                    <h2><%=resultado.producto[i].nombre%></h2>
                    <h3> <%= resultado.nombre %> <%= resultado.apellido %></h3> 
                    <p>Comentarios: 5</p> <!-- automatizar -->
                  </article>
                </a>
              </section>
            </div>
    <% } %>

    <%- include('./partials/footer') %>

</body>