<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>
    <h1 class="form-title"><%= title %></h1>
    <section class="form-section">

        <% if (locals.errors){ %> 
        <h4 class="error"><%= errors.message %> </h4>
        <% } %> 
        
        <form action="/users/register/store" method="POST">
            <div class="form-fields">
                <input type="text" placeholder="Nombre *" name="nombre" value="">
                <input type="text" placeholder="Apellido *" name="apellido" value="">
                <input type="date" placeholder="Fecha de nacimiento *" name="nacimiento" value="">
                <input type="number" placeholder="DNI" name="dni" value="">
                <input type="number" placeholder="Celular" name="celular" value="">
                <input type="email" placeholder="E-mail *" name="email" value="">
                <!-- <input type="file" placeholder="Imagen de perfil" name="imagen" value=""> -->
                <input type="password" placeholder="Contraseña *" name="contrasenia" value="">
                <!-- <input type="password" placeholder="Repetir Contraseña">  -->                  
            </div>

            <button type="submit" class="form-button">
                Enviar
            </button>
            
        </form>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>