<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>


    <div class="container products-wrapper">
		<div class="row">	
				<% if(resultado.length != 0){ %> 
						<% for(let i=0; i<resultado.length; i++){ %>
								<div class="col-12 col-sm-6 col-lg-3">
									<section class="slider-box">
										<a href="/products/id/<%=resultado[i].id%>">
											<figure class="product-box_image">
												<img src="/images/products/<%= resultado[i].imagen %>" alt="<%= resultado[i].nombre%>">
											</figure>
											<article class="product-box_data">
												<h2><%=resultado[i].nombre%></h2>
												<a href="/users/myprofile/<%=resultado[i].usuario.id%>"><h3><%=resultado[i].usuario.nombre%> <%=resultado[i].usuario.apellido%></h3></a>
												<p>Comentarios: <%=resultado[i].usuario.comentarios%></p> 
											</article>
										</a>
									</section>
								</div>
						<% } %>  <!-- for-->
					<% } else { %> <!-- If chico-->
						<div class="page">
							<p>No hay resultados para su criterio de búsqueda.</p>
						</div> 
					<% } %> <!-- Else chico-->
		</div>
	</div> <!-- Container grande-->

    <%- include('./partials/footer') %>
</body>
</html>