<%- include('./partials/links') %>
<body>
    <% if(title == 'Agregar productos' || title == 'Editar mi perfil') { %>
        <%- include('./partials/headerLogueado') %>
    <% } 
    else{ %>
        <%- include('./partials/header') %>
    <% } %>
    <h1 class="form-title"><%= title%></h1>
    <section class="form-section">
        
        <form action="/users/myprofile/1" method="GET">
            <div class="form-fields">
                <% if(title == "Creá tu cuenta" || title == "Editar mi perfil"){ %>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                    <input type="date" placeholder="Fecha de nacimiento">
                    <input type="number" placeholder="DNI">
                    <input type="number" placeholder="Celular">
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Contraseña">
                    <input type="password" placeholder="Repetir Contraseña">                   
              <%  } 
               else if(title == 'Iniciá sesión'){ %>
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Contraseña">
              <% } 
              else if(title == 'Agregar productos'){ %>
                    <input type="text" placeholder="Nombre del producto">
                    <div>
                        <input type="url" placeholder="URL de la imagen">
                        <input type="file" placeholder="Imagen">
                    </div>
                    <input type="text" placeholder="Marca">
                    <input type="number" placeholder="Año">
                    <input type="number" placeholder="Mililitros">
                    <input type="text" placeholder="Descripción">
                <% } %>
                     
            </div>

            <button type="submit" class="form-button">
                Enviar
            </button>
            
        </form>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>