<%- include('./partials/links') %>
<body>
    <%- include('./partials/headerLogueado') %>

    <!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<h1><%= title %></h1>
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= <%=comentarios[0].imagen %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<%=comentarios[0].nombreUsuario %>
						<a href="editprofile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>4 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="form-title">MIS PRODUCTOS</h2>
			</div>
				<!-- /Novedades -->
      		<% for(let i=0; i<4; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%=products[i].id%>">
						<figure class="product-box_image">
							<img src="<%= products[i].imagen %> " alt="<%= products[i].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=products[i].nombre%></h2>
							<p><%=products[i].descipcion %></p>
							<p>Comentarios: 12</p>
						</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div> <!-- Container grande-->
    
    <%- include('./partials/footer') %>
    
</body>
</html>