<%- include('./partials/links') %>
<body>
    <%- include('./partials/header') %>

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="form-title">RESULTADOS</h2>
			</div>
				<!-- /Novedades -->
      		<% for(let i=0; i<4; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%=products[i].id%>">
						<figure class="product-box_image">
							<img src="<%= products[i].imagen %> " alt="<%= products[i].nombre%>">
						</figure>
						<article class="product-box_data">
							<h2><%=products[i].nombre%></h2>
							<p><%=products[i].descipcion %></p>
							<p>Comentarios: 5</p>
						</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div> <!-- Container grande-->

    <%- include('./partials/footer') %>
</body>
</html>