<%- include('./partials/links') %>
<body>
    <% if(title == 'Agregar productos' || title == 'Editar mi perfil') { %>
        <%- include('./partials/headerLogueado') %>
    <% } 
    else{ %>
        <%- include('./partials/header') %>
    <% } %>
    <h1><%= title%></h1>
    <section>
        <form action="" method="GET">
            <div>
                <% if(title == "Crea tu cuenta" || title == "Editar mi perfil"){ %>
                    <input type="nombre" placeholder="Nombre">
                    <input type="apellido" placeholder="Apellido">
                    <input type="mail" placeholder="Mail">
                    <input type="contraseña" placeholder="Contraseña">
                    <input type="repetirContraseña" placeholder="Repetir Contraseña">
              <%  } 
               else if(title == 'Inicia Sesión'){ %>
                    <input type="mail" placeholder="Mail">
                    <input type="contraseña" placeholder="Contraseña">
              <% } 
              else if(title == 'Agregar productos'){ %>
                    <input type="nombreProducto" placeholder="Nombre del Producto">
                    <input type="imagenDelProducto" placeholder="Imagen del producto">
                    <input type="marca" placeholder="Marca">
                    <input type="anio" placeholder="Año">
                    <input type="ml" placeholder="Mililitros">
                <% } %>
                     
            </div>
            <button>
                Submit
            </button>
            
        </form>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>